html, body{
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

body{
	max-width: 100%;
	margin: 0 auto;
}

.menu-overlay{
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.2);
	z-index: 1;
	position: fixed;
}

.menu-page{
	position: absolute;
    left: 0;
    width: 460px;
    height: 100%;
	display: flex;
	flex-direction: column;
    background: white;
}

.menu-title{
	display: flex;
	justify-content: space-between;
	margin: 15px 30px 0px 48px;
}

.menu-title-close{
	margin-top: 13px;
}

.menu-title-close img{
	width: 40px;	
}

.button-menu-title-close{
	background: none;
	border:0;
	cursor: pointer;
	filter: grayscale(100%) brightness(0%);
}	

.button-menu-title-close:hover{
	filter: grayscale(0%) brightness(100%);
}

.menu-items-catalog{
	flex: 1;
	margin: 0px 30px 10px 50px;
}

.menu-catalog-ul{
	list-style-type: none;
	padding: 0;
}

.menu-catalog-li{
	margin-bottom: 10px;
	cursor: pointer;
}

.menu-catalog-li:hover{
	color:orange;
}

.other-menu-catalog{
	margin: 0px 30px 0px 50px;
}

.other-menu-ul{
	list-style-type: none;
	padding: 0;
	
}

.other-menu-li
{
	margin-bottom:10px;
	cursor: pointer;
}

.other-menu-li:hover{
	color: orange;
}

.overlay{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.2);
	z-index: 1;
	position: fixed;
}

.cart-page{ 
    position: absolute;
    right: 0;
    width: 460px;
    height: 100%;
    background: white; 
	display: flex;
	flex-direction: column;
	position: fixed;
}

.cart-page .items{
	overflow: auto;
}

.cart-container{	
	padding: 30px;
}

.cart-container h2{
	margin: 0;
	padding-bottom: 30px;
}

.title-cart{
	display: flex;
	justify-content: space-between;
	margin: 30px 9px 10px 30px;
}

.title-cart h2{
	margin-top: 5px;
}

.card-cart-close
{
	background:none;
	cursor: pointer;
	border: 0;
	filter: grayscale(100%) brightness(0%);
}

.card-cart-close:hover{
	filter: grayscale(0%) brightness(100%);
}

.card-cart-close img{
	width: 40px;
}

.card-cart{
	max-height: 116px;
	padding-bottom: 20px;
	max-width: 460px;
	display: flex;
}

.items{
	flex: 1;
	margin: 10px 15px 10px 31px;
}

.card-cart-artist{
	font-size: 14px;
	color: #999999;
}

.card-cart-price{
	padding-top: 30px;
	font-size: 18px;
	font-weight: bold;
}

.card-cart-img img{
	min-height: 116px;
	max-height: 116px;
	min-height: 80px;
	max-width: 80px;
	border-radius: 5px;
}

.card-cart-info{
	width: 310px;
	padding-top: 20px;
}

.card-cart-text-info
{
	padding-left:30px;
}

.card-cart-delete{
	background:none;
	cursor: pointer;
	border: 0;
	filter: grayscale(100%) brightness(0%); 
}

.card-cart-delete img{
	width: 30px;
}

.card-cart-delete:hover{
	filter: grayscale(0%) brightness(100%); 
}

.card-cart-button-delete{
	padding-top: 40px;
}

.cart-empty{
	margin: 50px 30px 0px 30px;
	text-align: center;
}

.cart-empty-text{
	color: #999999;
}

.cart-empty img{
	width: 250px;
}

.cart-empty-back{
	color: white;
	border-radius: 15px;
	height: 50px;
	width: 200px;
	border: 0;
	background-color: orange;
	margin-top: 20px;
	font-size: 15px;
	font-weight: 500;
	cursor: pointer;
}

.TotalPrice{
	margin: 0px 30px 10px 30px;
}

.TotalPrice div{
	flex: 1;
	height: 1px;
	border-bottom: 1px dashed #dfdfdf;
	position: relative;
	top:-4px;
	margin: 0 7px;
}

.TotalPriceUl{
	list-style-type: none;
	padding: 0;
}

.TotalPrice li{
	display: flex;
	align-items: flex-end;
	margin-bottom: 20px;
}

.Total-Price-Flex{	
	display: flex;
}

.TotalPriceButton{
	margin-top: 10px;
	border:0;
	width: 100%;
	height: 55px;
	background: orange;
	border-radius: 15px;
	color: white;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
}

.fixed-container{
	max-width: 1250px;
	height: 100%;
	margin: 0 auto;	
	padding: 0px 20px 0px 20px;
}

.header{
	max-width: 100%;
	height: 100px;
}

.flex-header-container{
	display: flex;
	justify-content: space-between;
	padding-top: 15px;
}

.menu-gamburger{
	padding-right: 42px;
}

.button-header{
	background: transparent;
	border: none;
	cursor: pointer;
	padding-top: 15px;
	display: flex;
	filter: grayscale(100%) brightness(0%);
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

.button-header:hover{
	filter: grayscale(0%) brightness(100%);
	color: orange;
}

.price-cart-button{
	padding-left: 10px;
	padding-top: 8px;
	font-size: 16px;
	font-weight: bold;
}

.button-header img{
	width: 35px;
}

.button-header-text{
	padding: 8px 0px 0px 10px;
}

.logo-button-header{
	padding-right: 80px;
	background: transparent;
	border: none;

}

.logo-button-header img{
	cursor: pointer;
	width: 50px;
	filter: grayscale(100%) brightness(0%);
}

.logo-button-header img:hover{
	filter: grayscale(0%) brightness(100%);
}

.buttons-contents{
	display: flex;
}

.main-container{
	max-width: 100%;
	flex-wrap: wrap;
}
@media(max-width: 463px){
	.main-container{
		height: 2400px;
	}
}

@media(max-width: 398px){
	.main-container{
		height: 2500px;
	}
}

@media(max-width: 340px){
	.main-container{
		height: 2600px;
	}
}

.carousel-slider img{
	border-radius: 10px;
	max-width: 100%;
}

.search-input{
	display: flex;
	background-color: #f2f2f2;
	height: 40px;
	border-radius: 15px;
}

.search-text{
	width: 250px;
	border:0;
	outline: none;
	background: transparent;
}

.search-button{
	background: none;
	border: 0;
	
}

.search-button img{
	width: 20px;
}

.search-button-clear{
	padding-top: 6px;
}

.search-clear{
	background:none;
	cursor: pointer;
	border: 0;
}

.search-clear img{
	width: 25px;
}


.button-main{
	display: flex;
	justify-content: space-between;
	padding: 40px 0px 40px 0px;
}

.button-main h2{
	margin: 0;
	margin-top: 3px;
}

.flex-main-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-bottom:40px;
}

.marketplace{
	margin: 0 auto;
	text-align: center;
	max-width: 70% ;
	font-size: 20px;
	margin-bottom: 60px;
}


.marketplace img{
	width: 300px;
	max-width: 100%;
}

.marketplace b{
	color: orange;
}

.logo-footer{
	text-align: center;
}

.logo-footer img{
	width: 40px;
	filter: grayscale(100%) brightness(0%);
}

.logo-footer img:hover{
	filter: grayscale(0%) brightness(100%);
}

#footer-container{
	background-color: #F0F0F0;
	height: 330px;
	padding-top: 20px;
}

#footer-heading-title{
	font-weight: bold;
	padding-bottom: 10px;
}

#flex-footer-button{
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	padding-bottom: 40px;
}
#footer-button-container{
	list-style-type: none;
	padding: 0;
}
.footer-button{
	cursor: pointer;
	color: #7a7a7a;
}

.footer-button:hover{
	color: orange;
}

.footer-button-social{
	padding: 0;
	list-style-type: none;
	display: flex;
	justify-content: space-between;
}

.button-social img{
	width: 40px;
}

.hr-class{
	width: 1200px;
}

.Copyright{
	color: #7a7a7a;
	padding-top: 40px;
	text-align: center;
}